.idea/
.python-3.9.10/
.spyproject/
.vs/
.vscode/
.venv/
venv/
**.coverage
**/.coverage_report_html/
resources/
localdata/
dist/
mespe.egg-info/
**/__pycache__
**.pyc
**.txt
**.csv
**.data
**.log
**.exe
**.ini
**.cfg
**.config
**.json
**.xml
**.db
**.db-journal
[~][$]*
